= form_for @contact_content, html: { class: "form form-horizontal contact_content" } do |f|
  .form-group
    = f.label :content_type, class: 'control-label'
    .controls
      = f.text_field :content_type, class: 'form-control', required: true
    = error_span(@contact_content[:content_type])
  .form-group
    = f.label :content_desc, class: 'control-label'
    .controls
      = f.text_field :content_desc, class: 'form-control', required: true
    = error_span(@contact_content[:content_desc])
  .form-group
    = f.label :solution, class: 'control-label'
    .controls
      = f.text_field :solution, class: 'form-control', required: true
    = error_span(@contact_content[:solution])
  .form-group
    = f.label :contactor_id, class: 'control-label'
    .controls
      = f.text_field :contactor_id, class: 'form-control', required: true
    = error_span(@contact_content[:contactor_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), contact_contents_path, :class => 'btn btn-default'
