- model_class = ContactContent
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:content_type)
      %th= model_class.human_attribute_name(:content_desc)
      %th= model_class.human_attribute_name(:solution)
      %th= model_class.human_attribute_name(:contactor_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @contact_contents.each do |contact_content|
      %tr
        %td= link_to contact_content.id, contact_content_path(contact_content)
        %td= contact_content.content_type
        %td= contact_content.content_desc
        %td= contact_content.solution
        %td= contact_content.contactor_id
        %td=l contact_content.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_content_path(contact_content), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), contact_content_path(contact_content), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_contact_content_path, :class => 'btn btn-primary'
