- model_class = ContactContent
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:content_type) + ':'
  %br
  = @contact_content.content_type
%p
  %strong= model_class.human_attribute_name(:content_desc) + ':'
  %br
  = @contact_content.content_desc
%p
  %strong= model_class.human_attribute_name(:solution) + ':'
  %br
  = @contact_content.solution
%p
  %strong= model_class.human_attribute_name(:contactor_id) + ':'
  %br
  = @contact_content.contactor_id


= link_to t('.back', :default => t("helpers.links.back")), contact_contents_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_content_path(@contact_content), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), contact_content_path(@contact_content), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
