- model_class = BookInfo
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= '书名'
      %th= '可用的激活码数量'
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @book_infos.each do |book_info|
      %tr
        %td= link_to book_info.id, book_info_path(book_info)
        %td= link_to t('.edit', :default => t(book_info.name)), edit_book_info_path(book_info)
        %td= book_info.activation_codes.length
        %td
          = link_to t('.edit', :default => t("获得激活码")), activation_codes_path(book_info), :class => 'btn btn-default btn-xs'

= link_to t('.new', :default => t("helpers.links.new")), new_book_info_path, :class => 'btn btn-primary'
