- model_class = BookInfo
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @book_info.name


= link_to t('.back', :default => t("helpers.links.back")), book_infos_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_book_info_path(@book_info), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), book_info_path(@book_info), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
