<h1>上传文件</h1>
<% if (@error_list != nil && @error_list.length > 0) %>
    <div id="error_explanation">

      <ul>
        <% @error_list.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_tag({action:"import"}, multipart: true) do %>
    <%= select_tag(:select_book_info_id, options_from_collection_for_select(BookInfo.all, :id, :name)) %>

    <label for="file">File to Upload</label>
    <%= file_field_tag "file" %>
    <%= submit_tag %>
<% end %>