= form_for @contactor, html: { class: "form form-horizontal contactor" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@contactor[:name])
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
    = error_span(@contactor[:email])
  .form-group
    = f.label :phone, class: 'control-label'
    .controls
      = f.text_field :phone, class: 'form-control', required: true
    = error_span(@contactor[:phone])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), contactors_path, :class => 'btn btn-default'
