- model_class = Contactor
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:phone)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @contactors.each do |contactor|
      %tr
        %td= link_to contactor.id, contactor_path(contactor)
        %td= contactor.name
        %td= contactor.email
        %td= contactor.phone
        %td=l contactor.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_contactor_path(contactor), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), contactor_path(contactor), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_contactor_path, :class => 'btn btn-primary'
