- model_class = Contactor
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @contactor.name
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @contactor.email
%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  %br
  = @contactor.phone


= link_to t('.back', :default => t("helpers.links.back")), contactors_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_contactor_path(@contactor), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), contactor_path(@contactor), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
