= form_for @activation_code, html: { class: "form form-horizontal activation_code" } do |f|
  .form-group
    = f.label :serial_number, class: 'control-label'
    .controls
      = f.text_field :serial_number, class: 'form-control', required: true
    = error_span(@activation_code[:serial_number])
  .form-group
    = f.label :code, class: 'control-label'
    .controls
      = f.text_field :code, class: 'form-control', required: true
    = error_span(@activation_code[:code])
  .form-group
    = f.label :has_use, class: 'control-label'
    .controls
      = f.text_field :has_use, class: 'form-control', required: true
    = error_span(@activation_code[:has_use])
  .form-group
    = f.label :remark, class: 'control-label'
    .controls
      = f.text_field :remark, class: 'form-control', required: true
    = error_span(@activation_code[:remark])
  .form-group
    = f.label :book_info_id, class: 'control-label'
    .controls
      = f.text_field :book_info_id, class: 'form-control', required: true
    = error_span(@activation_code[:book_info_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), activation_codes_path, :class => 'btn btn-default'
