- model_class = ActivationCode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:serial_number)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:has_use)
      %th= model_class.human_attribute_name(:remark)
      %th= model_class.human_attribute_name(:book_info_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @activation_codes.each do |activation_code|
      %tr
        %td= link_to activation_code.id, activation_code_path(activation_code)
        %td= activation_code.serial_number
        %td= activation_code.code
        %td= activation_code.has_use
        %td= activation_code.remark
        %td= activation_code.book_info_id
        %td=l activation_code.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_activation_code_path(activation_code), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), activation_code_path(activation_code), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_activation_code_path, :class => 'btn btn-primary'
