- model_class = ActivationCode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:serial_number) + ':'
  %br
  = @activation_code.serial_number
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @activation_code.code
%p
  %strong= model_class.human_attribute_name(:has_use) + ':'
  %br
  = @activation_code.has_use
%p
  %strong= model_class.human_attribute_name(:remark) + ':'
  %br
  = @activation_code.remark
%p
  %strong= model_class.human_attribute_name(:book_info_id) + ':'
  %br
  = @activation_code.book_info_id


= link_to t('.back', :default => t("helpers.links.back")), activation_codes_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_activation_code_path(@activation_code), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), activation_code_path(@activation_code), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
