!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "NSE客服后台"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .container-fluid
      = nav_bar fixed: :top, :responsive => true do
        = menu_group do
          = menu_item 'Home' ,root_path
          = drop_down '激活码相关' do
            = menu_item '查看激活码', book_infos_path
            = menu_item '上传激活码'  ,'upload/index'#, widgets_path
          = menu_divider
          = drop_down '联系人' do
            = menu_item '联系人列表' , contactors_path
          = menu_item '打包流程', 'operations/index'
          = menu_item 'icon(:github)' + ' Github Repo', 'https://github.com/toadkicker/railsstrap'
          = menu_item 'Wiki', 'https://github.com/toadkicker/railsstrap/wiki'
          -#- if !user_signed_in?
          -#  = menu_item "Sign In" #, new_user_session_path, pull: :right
          -#- if user_signed_in?
          -#  = menu_group :pull => :right do
          -#    = drop_down "#{current_user.full_name}" do
          -#      = menu_item 'icon(:sign_out)' + 'Sign out', 'destroy_user_session_path', method: :delete

    %div{style: "padding-top: 60px"}
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield

