%h1 打包流程
书名：
= @book_name_info.book_name
%br
版本：
= @book_name_info.book_version
%br
册数（a或者b）:
= @book_name_info.book_volume

%hr

%ol
  %li
    前提：
    ** 检查data.db
    ** 替换about.html

  %li
    新建工程名称：
    %br
    = @book_name_info.book_name + '_' + @book_name_info.book_version + @book_name_info.book_volume
  %li
    Application Information：
    %br
    company name：
    %br
    = 'NSE '+ @book_name_info.book_name_upcase + '_' +  @book_name_info.book_version + @book_name_info.book_volume
    %br
    application name：
    %br
    = 'NSE CD-ROM'
    %br
    web address：
    %br
    = 'http://www.fltrp.com'

  %li
    Files and Folders： **选择文件夹权限
  %li
    Shortcuts：
    %br
    外语教学与研究出版社
    %br
    = 'NSE ' + @book_name_info.book_name_upcase + @book_name_info.book_volume
  %li
    InstallScript:
    %br
    = link_to '点击链接', 'install_script?folder_name=' + @folder_name