\//===========================================================================
%br
\//
%br
\//  File Name:    Setup.rul
%br
\//
%br
\//  Description:  Blank setup main script file
%br
\//
%br
\//  Comments:     Blank setup is an empty setup project. If you want to
%br
\//				  create a new project via. step-by step instructions use the
%br
\//				  Project Assistant.
%br
\//
%br
\//===========================================================================
%br

%br
\// Included header files ----------------------------------------------------
%br
\#include "ifx.h"
%br

%br
\// Note: In order to have your InstallScript function executed as a custom
%br
\// action by the Windows Installer, it must be prototyped as an
%br
\// entry-point function.
%br

%br
\// The keyword export identifies MyFunction() as an entry-point function.
%br
\// The argument it accepts must be a handle to the Installer database.
%br

%br
\/* export prototype MyFunction(HWND); */
%br
\function OnFirstUIBefore()
%br
\    NUMBER nResult, nSetupType, nvSize, nUser;
%br
\    STRING szTitle, szMsg, szQuestion, svName, svCompany, szFile;
%br
\    STRING szLicenseFile;
%br
\	BOOL bCustom, bIgnore1, bIgnore2;
%br
\	STRING szfilename,szFolder,szmsg1,szmsg2;
%br
\	NUMBER nresult;
%br
\begin
%br
\    // TO DO: if you want to enable background, window title, and caption bar title
%br
\    // SetTitle( @PRODUCT_NAME, 24, WHITE );
%br
\    // SetTitle( @PRODUCT_NAME, 0, BACKGROUNDCAPTION );
%br
\    // Enable( FULLWINDOWMODE );
%br
\    // Enable( BACKGROUND );
%br
\    // SetColor(BACKGROUND,RGB (0, 128, 128));
%br

%br
\    // Added in InstallShield 15 - Show an appropriate error message if
%br
\    // -removeonly is specified and the product is not installed.
%br
\    if( REMOVEONLY ) then
%br
\        Disable( DIALOGCACHE );
%br
\		szMsg = SdLoadString( IDS_IFX_ERROR_PRODUCT_NOT_INSTALLED_UNINST );
%br
\   		SdSubstituteProductInfo( szMsg );
%br
\		MessageBox( szMsg, SEVERE );
%br
\		abort;
%br
\    endif;
%br

%br
\	nSetupType = TYPICAL;
%br

%br
\Dlg_SdWelcome:
%br
\    szTitle = "欢迎";
%br
\    szMsg   = "欢迎使用 NSE CD-ROM！";
%br
\    nResult = SdWelcome(szTitle, szMsg);
%br
\    if (nResult = BACK) goto Dlg_SdWelcome;
%br

%br
\/*
%br
\	szTitle   = "";
%br
\	svName    = "";
%br
\    svCompany = "";
%br

%br
\Dlg_SdRegisterUser:
%br
\    szMsg = "";
%br
\    szTitle = "";
%br
\    nResult = SdRegisterUser( szTitle, szMsg, svName, svCompany );
%br
\    if (nResult = BACK) goto Dlg_SdWelcome;
%br

%br
\Dlg_SetupType:
%br
\    szTitle = "";
%br
\    szMsg   = "";
%br
\    nResult = SetupType2(szTitle, szMsg, "", nSetupType, 0);
%br
\    if (nResult = BACK) then
%br
\        goto Dlg_SdRegisterUser;
%br
\    else
%br
\	    nSetupType = nResult;
%br
\        if (nSetupType != CUSTOM) then
%br
\	        nvSize = 0;
%br
\	        FeatureCompareSizeRequired(MEDIA, INSTALLDIR, nvSize);
%br
\	        if (nvSize != 0) then
%br
\            	MessageBox(szSdStr_NotEnoughSpace, WARNING);
%br
\	            goto Dlg_SetupType;
%br
\            endif;
%br
\			bCustom = FALSE;
%br
\			goto Dlg_SQL;
%br
\		else
%br
\			bCustom = TRUE;
%br
\        endif;
%br
\    endif;
%br
\*/
%br

%br
\Dlg_License2:
%br
\	//nResult = SdLicense2("许可证协议","","",SUPPORTDIR^"软件安装与使用许可协议.rtf",FALSE);
%br
\	nResult = SdLicense2Rtf("许可证协议","","",SUPPORTDIR^"文档.rtf",FALSE);
%br
\	if (nResult = BACK) goto Dlg_SdWelcome;
%br

%br
\
%br
\Dlg_SdAskDestPath:
%br
\	szTitle = "安装目录";
%br
\    szMsg = "请选择安装目录。";
%br
\    nResult = SdAskDestPath(szTitle, szMsg, INSTALLDIR, 0);
%br
\    if (nResult = BACK) goto Dlg_License2;
%br

%br
\/*
%br
\Dlg_SdFeatureTree:
%br
\    szTitle    = "";
%br
\    szMsg      = "";
%br
\    if (nSetupType = CUSTOM) then
%br
\		nResult = SdFeatureTree(szTitle, szMsg, INSTALLDIR, "", 2);
%br
\		if (nResult = BACK) goto Dlg_SdAskDestPath;
%br
\    endif;
%br

%br
\Dlg_SQL:
%br
\    nResult = OnSQLLogin( nResult );
%br
\    if( nResult = BACK ) then
%br
\    	if (!bCustom) then
%br
\    		goto Dlg_SetupType;
%br
\    	else
%br
\    		goto Dlg_SdFeatureTree;
%br
\    	endif;
%br
\    endif;
%br
\*/
%br

%br
\Dlg_SdStartCopy:
%br
\    szTitle = "开始安装";
%br
\    szMsg   = "点击“安装”开始安装程序，点击“上一步”选择安装目录。";
%br
\    nResult = SdStartCopy2( szTitle, szMsg );
%br

%br
\    if (nResult = BACK) then
%br
\       goto Dlg_SdAskDestPath;
%br
\    endif;
%br

%br
\    // Added in IS 2009 - Set appropriate StatusEx static text.
%br
\    SetStatusExStaticText( SdLoadString( IDS_IFX_STATUSEX_STATICTEXT_FIRSTUI ) );
%br

%br
\    // setup default status
%br
\    Enable(STATUSEX);
%br

%br
\        //创建删除快捷方式
%br
\    szfilename = UNINSTALL_STRING+"/UNINSTALL";
%br
\    nresult = StrFind(szfilename,".exe");
%br
\    if (nresult >= 0) then
%br
\      StrSub(szmsg1,szfilename,0,nresult + 4);
%br
\      StrSub(szmsg2,szfilename,nresult + 4,200);
%br
\      LongPathToQuote(szmsg1,FALSE);
%br
\      LongPathToQuote(szmsg2,FALSE);
%br
\      szfilename = "\"" + szmsg1 + "\"" + szmsg2;
%br
\    endif;
%br
\    AddFolderIcon(FOLDER_PROGRAMS^"外语教学与研究出版社","卸载 NSE
= @book_name_info.book_name_upcase + @book_name_info.book_volume
\",szfilename,WINDIR,
%br
= 'INSTALLDIR^"' +  @folder_name + '\\\\icon\\\\uninstall-48.ico",0,"",REPLACE);'
%br
=  'AddFolderIcon(INSTALLDIR^"' +   @folder_name + '","卸载 NSE'
= @book_name_info.book_name_upcase + @book_name_info.book_volume
\",szfilename,WINDIR,
%br
= 'INSTALLDIR^"' +  @folder_name + '\\\\icon\\\\uninstall-48.ico",0,"",REPLACE);'
%br
\    return 0;
%br
\end;
%br